div.sheet-main {
	display: grid;
	width: 800px;
	grid-gap: 4px;
	grid-template-areas:	"one"
							"two"
							"three"
							"four";
}

div.sheet-one {
	grid-area: one;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "general chars image";
}

div.sheet-general {
	grid-area: general;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, 2em);
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-chars {
	grid-area: chars;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 3em repeat(3, 2em);
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-chars h2 {
    grid-column: 1 / -1;
	text-align: center;
}

div.sheet-image {
	grid-area: image;
    border-style: solid;
	border-width: thin;
}

div.sheet-two {
	grid-area: two;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "hitPoints logo spiritPoints";
}

div.sheet-hitPoints {
	grid-area: hitPoints;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em repeat(5, 2em);
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-hitPoints h3 {
    grid-column: 1 / -1;
	text-align: center;
}

div.sheet-logo {
	grid-area: logo;
	padding: 10px;
}

div.sheet-logo h1 {
	text-align: center;
}

div.sheet-spiritPoints {
	grid-area: spiritPoints;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 2em 2em;
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-spiritPoints h3 {
    grid-column: 1 / -1;
	text-align: center;
}

div.sheet-three {
	grid-area: three;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(3, 1fr 9fr 2fr);
	grid-template-rows: 3em repeat(17, 2em);
  	grid-auto-flow: column;
  	border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-three h2 {
    grid-column: 1 / -1;
	text-align: center;
}

div.sheet-four {
	grid-area: four;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "weapons combat";
}

div.sheet-weapons {
	grid-area: weapons;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 4fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 3em repeat(7, 2em);
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-weapons h2 {
    grid-column: 1 / -1;
	text-align: center;
}

div.sheet-combat {
	grid-area: combat;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em repeat(4, 2em);
    border-style: solid;
	border-width: thin;
	padding: 10px;
}

div.sheet-combat h2 {
    grid-column: 1 / -1;
	text-align: center;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-width100 {
	width: 100%;
}

input.sheet-narrow {
	width: 38%;
}

input.sheet-Vnarrow {
	width: 25%;
}